@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h1> BerclazFardel_VSFly </h1>
<p>This project was carried out as part of the "634-1 - Components and patterns" module for both pattern and component courses.</p>

<h2> License</h2>
<p>Code licensed MIT on github.

<h2> Credits </h2>
<p>
    ©Brice Berclaz
    ©Coline Fardel
    ©HES-SO Valais-Wallis
</p>

