@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
</br>
<h2> Project BerclazFardel_VSFly </h2>
<p>This project was carried out as part of the "634-1 - Components and patterns" module for both pattern and component courses.</p>

<h3> License</h3>
<p>Code licensed MIT on github.

<h3> Credits </h3>
<p>
    ©Brice Berclaz
</p>
<p>
    ©Coline Fardel
</p>
<p>
    ©HES-SO Valais-Wallis
</p>

